alias todo="$EDITOR ~/.todo"

## docker
alias dme="eval $(docker-machine env default)"
alias dmc="docker-machine create -d virtualbox --virtualbox-memory 4096 default"

# popular directories
alias pl="cd $DEV/playground"
alias h="cd $DEV/projects/huuuge"
alias hg="cd $DEV/projects/huuuge/gamebingo"
alias hs="cd $DEV/projects/huuuge/serverbingo"

# popular programs
alias log-nim="adb logcat -s NIM_APP"

alias g="git"
alias v="vim"
alias t="tmux"

alias np="cd ~/.nimble/pkgs"
alias nb="cd ~/.nimble/bin"

alias zc="$EDITOR ~/.zshrc"
alias vc="$EDITOR ~/.vimrc"
alias tc="$EDITOR ~/.tmux.conf"
alias gc="$EDITOR ~/.gitconfig"

# server
alias dcd="docker-compose -f nix-nakama-vs-postgres-ssl.yml down -v"
alias dcu="docker-compose -f nix-nakama-vs-postgres-ssl.yml up"
alias dcr="dcd && dcu"

# client
alias ba="BINGO_SERVERIP=$IP nake droid -d:local"
alias bd="nake -d:local"
alias bdw="nake -d:local -d:widescreen"
alias bdsb="nake -d:local -d:sandbox"
alias be="nake emscripten -d:local -d:copyBundles -d:nossl"
alias br="$BINGO_CLIENT_HOME/build/macosx_debug_nimx/Huuuge_Bingo_Story_debug.app/Contents/MacOS/Huuuge_Bingo_Story_debug"
