#!/usr/bin/env zsh

alias todo="$EDITOR ~/.todo"

if command -v exa > /dev/null; then
  alias ls=exa
fi

## docker
alias dme="eval $(docker-machine env default)"
alias dmc="docker-machine create -d virtualbox --virtualbox-memory 4096 default"

# popular directories
alias d="cd ~/dotfiles"
alias sb="cd $DEV/sandbox"
alias h="cd $DEV/huuuge"
alias hg="cd $DEV/huuuge/gamebingo"
alias hs="cd $DEV/huuuge/serverbingo"

# popular programs
alias log-nim="adb logcat -s NIM_APP"

alias g="git"
alias v="vim"
alias t="tmux"

alias np="cd ~/.nimble/pkgs"
alias nb="cd ~/.nimble/bin"

alias zc="$EDITOR ~/.zshrc"
alias vc="$EDITOR ~/.vimrc"
alias tc="$EDITOR ~/.tmux.conf"
alias gc="$EDITOR ~/.gitconfig"
alias ac="$EDITOR ~/.aliases"

alias srcz="source ~/.zshrc"
alias srca="source ~/.aliases"

# server
alias dcd="docker-compose -f nix-nakama-vs-postgres-ssl.yml down -v"
alias dcu="docker-compose -f nix-nakama-vs-postgres-ssl.yml up"
alias dcr="dcd && dcu"

# client
alias ndl="BINGO_SERVERIP=$IP nake droid -d:local"
alias nl="nake -d:local"
alias nlw="nake -d:local -d:widescreen"
alias nls="nake -d:local -d:sandbox"
alias nel="nake emscripten -d:local -d:copyBundles -d:nossl"
alias br="$BINGO_CLIENT_HOME/build/macosx_debug_nimx/Huuuge_Bingo_Story_debug.app/Contents/MacOS/Huuuge_Bingo_Story_debug"


alias norminette="~/.norminette/norminette.rb"
alias exe="~/Exercism"
alias brclear="git branch | grep -v -E \"^\*|master|stage\" | xargs git branch -D"

alias texe="tmux a -t Exercism"
alias tbin="tmux a -t Bingo"
