#!/usr/bin/env zsh

alias todo="$EDITOR .todo"

alias ls="exa"

# popular directories
alias sb="cd $DEV/sandbox"
alias dot="cd $HOME/dotfiles"

# popular programs
alias g="git"
alias v="vim"
alias t="tmux"

alias vz="$EDITOR ~/.zshrc"
alias vv="$EDITOR ~/.vimrc"
alias vt="$EDITOR ~/.tmux.conf"
alias vg="$EDITOR ~/.gitconfig"
alias va="$EDITOR ~/.aliases"

alias sz="source ~/.zshrc"
alias sa="source ~/.aliases"

# 42
alias norminette="~/.norminette/norminette.rb"
alias normc='USER=vsokolog MAIL="$USER@student.42.fr" norminette src/*.c'
alias normh="norminette inc/*.h"
alias norm="normh && normc"

# git
alias brclear="git branch | grep -v \"master\" | xargs git branch -D"

# c++
alias c++filt="c++filt --no-strip-underscore --types"

# CO
alias ws="cd ~/workspace/"
alias bd="cd ~/workspace/build/DEBUG"
alias br="cd ~/workspace/build/RELEASE"
alias co="cd ~/workspace/CloudOffice"
