#!/usr/bin/env zsh

alias todo="$EDITOR .todo"

alias ls="eza"

# popular directories
alias sb="cd $DEV/sandbox"
alias dot="cd $HOME/dotfiles"

# popular programs
alias g="git"
alias v="nvim"
alias t="tmux"

alias vz="$EDITOR ~/.zshrc"
alias vv="$EDITOR ~/.config/nvim/init.lua"
alias vt="$EDITOR ~/.tmux.conf"
alias vg="$EDITOR ~/.gitconfig"
alias va="$EDITOR ~/.aliases"

alias sz="source ~/.zshrc"
alias sa="source ~/.aliases"

# git
alias brclear="git branch | grep -v \"master\" | xargs git branch -D"

# c++
alias c++filt="c++filt --no-strip-underscore --types"
