[user]
    name = vsokh
    email = vsokolohorskyi@gmail.com

[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = false
    line-numbers = true
    syntax-theme = base16

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default

[color]
    ui = true

[alias]
    ch = checkout
    pl = pull
    ph = push
    me = merge
    st = status
    br = branch
    co = commit
    s  = show
    d  = diff
    ds = diff --staged
    sl = shortlog
    lo = log --oneline
    graph = log --graph --all --decorate --oneline

[init]
    defaultBranch = main

[url "git@github.com:"]
    insteadOf = https://github.com/
